body {
    background-image: url("./girl-4266712_640.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
    
  }

  image{
    opacity: 0.2;
  }
  

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #141414;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 
  input[type=submit] {
    width: 100%;
    background-color: #3b6ab1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0a86ec;
  }
  
  form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    margin: 10px 0;
}

footer:hover {
    color: #3498db;
}
